<div id="body">
  <paragraph-title content="Direct contact"></paragraph-title>
  <!-- <div class="row-div">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <p class="data">+XX XXX XX XX XXX</p>
  </div> -->
  <div class="email row-div">
    <ion-icon name="mail"></ion-icon>
    <div class="email-links">
      <!-- <a href="mailto:X">mail@domain.dev</a> -->
      <!-- <a href="mailto:X">mail@domain.dev</a> -->
      <a href="mailto:stefano.campanella@usi.ch">stefano.campanella@usi.ch</a>
    </div>
  </div>
  <paragraph-title content="Social"></paragraph-title>
  <div class="row-div">
    <ion-icon name="logo-linkedin"></ion-icon>
    <a class="data" href="https://www.linkedin.com/in/stefano-campanella-b26998268/">Stefano Campanella</a>
  </div>
  <div class="row-div">
    <ion-icon name="school"></ion-icon>
    <a href="https://scholar.google.com/citations?user=uRkNAtYAAAAJ&hl=it" class="data">Stefano Campanella</a>
  </div>
  <div class="row-div" style="padding-bottom: 5px !important;">
    <ion-icon name="logo-twitter"></ion-icon>
    <a href="https://twitter.com/ste_campanella" class="data">@ste_campanella</a>
  </div>
  <paragraph-title content="Location"></paragraph-title>
  <div class="row-div">
    <ion-icon name="compass"></ion-icon>
    <p class="data">USI @ Lugano, Switzerland</p>
  </div>
  <div class="row-div">
    <ion-icon name="location"></ion-icon>
    <a href="https://maps.app.goo.gl/sGTTh2bD2df3Zidp7"
       class="data">Office D3.05 Via la Santa 1, <br><br> 6962 Lugano-Viganello</a>
  </div>
  <div class="cv_download">
    Download<a href="assets/cvs/industry.pdf">industry</a>or<a href="assets/cvs/academia.pdf">academic</a>CV as PDF
  </div>
  <div class="credits">
    <p>Designed by Stefano Campanella - Copyright © 2023</p>
  </div>
</div>
