<div id="body">
  <paragraph-title content="Direct contacts"></paragraph-title>
  <div class="row-div">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <p class="data">+39 345 45 78 280</p>
  </div>
  <div class="email row-div">
    <ion-icon name="mail-outline"></ion-icon>
    <div class="email-links">
      <!-- <a href="mailto:stefano.camp@hotmail.it">stefano.camp@hotmail.it</a> -->
      <a href="mailto:stefanocamp187@gmail.com">stefanocamp187@gmail.com</a>
    </div>
  </div>
  <paragraph-title content="Social"></paragraph-title>
  <div class="row-div">
    <ion-icon name="logo-linkedin"></ion-icon>
    <a class="data" href="https://www.linkedin.com/in/stefano-campanella-b26998268/">Stefano Campanella</a>
  </div>
  <div class="row-div">
    <ion-icon name="logo-twitter"></ion-icon>
    <p class="data">@ste_campanella</p>
  </div>
  <div class="row-div">
    <ion-icon name="logo-discord"></ion-icon>
    <p class="data">StoneWolf#7778</p>
  </div>
  <div class="cv_download">
    <a href="assets/cv.pdf">Download CV as PDF</a>
  </div>
  <div class="credits">
    <p>Designed by Stefano Campanella - Copyright © 2023</p>
  </div>
</div>
