<div id="body">
  <div class="contacts">
    <p class="title">Direct contacts</p>
  </div>
  <div class="phone">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <p>+39 345 45 78 280</p>
  </div>
  <div class="email">
    <ion-icon name="mail-outline"></ion-icon>
    <div class="email-links">
      <a href="mailto:stefano.camp@hotmail.it">stefano.camp@hotmail.it</a>
      <a href="mailto:stefanocamp187@gmail.com">stefanocamp187@gmail.com</a>
    </div>
  </div>
  <div class="social">
    <p class="title">Socials</p>
  </div>
  <div class="credits">
    <p>Copyright © 2023</p>
  </div>
</div>
