#body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ion-icon {
    color: #1D1F20;
    font-size: 2em;
  }

  .row-div {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .data {
    margin-top: 8px;
    margin-left: 10px;
    color: #6C757D;
  }

  .email {
    padding-left: 10px;

    /* ion-icon {
      padding-top: 10px;
    } */

    .email-links {
      padding-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        font-stretch: 85%;
        padding: 5px;
        color: #1D1F20;
        text-decoration: none;
      }
    }
  }

  .cv_download {
    position: absolute;
    bottom: 50px;

    a {
      justify-content: center;
      font-stretch: 85%;
      padding: 5px;
      color: #1D1F20;
      text-decoration: underline;
    }
  }


  .credits {
    position: absolute;
    bottom: 0;

    p {
      font-size: 0.7em;
      font-weight: 400;
      color: #1D1F20;
      background: #E5E5E5;
      padding: 5px 10px;
      border-radius: 10px;
    }
  }
}
