<div id="body">
  <div id="header">
    <div class="text-wrapper">
      <h1 class="name">Stefano Campanella</h1>
      <p class="title">Software Engineer / Research and Development</p>
    </div>
      <img src="assets/images/DSC_0115.JPG" class="profile-image">
  </div>
  <div class="bio">
    <p>
      <span>Short bio.</span> Stefano Campanella is a Software Engineer with experience in research and development. 
      His technical expertise spans clean software engineering, research, problem solving, machine learning, data analysis, and cybersecurity. 
      In 2023, he defended his Double Master's Degree in Systems Software Security 
      (&#64; <a href="https://www2.unimol.it/">UNIMOL</a>) and Software and Data Engineering 
      (&#64; <a href="https://www.usi.ch/en">USI</a>), Stefano is a passionate gamer and music enthusiast, always exploring the latest trends, embracing new challenges 
      both online and in real life, and continuously improving his skills.
    </p>
  </div>
</div>
