#body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #content {
    display: flex;
    width: 80%;
    margin-top: 3%;

    .text-wrapper {
      width: 75%;

      .name {
        color: #1D1F20;
        font-stretch: 125%;
        margin: 0;
      }

      .title {
        margin-top: 0;
        color: #6C757D;
        font-weight: 250;
      }
    }

    .profile-image {
      width: 25%;
      height: 25%;
      object-fit: cover;
      border-radius: 30px;
    }
  }

  @media (max-width: 425px) {
    .profile-image {
      border-radius: 15px !important;
    }

    .title {
      font-size: 0.8rem;
    }

    .name {
      font-size: 1.5rem;
    }
  }
}
