<div id="body">
  <div id="header">
    <div class="text-wrapper">
      <h1 class="name">Stefano Campanella</h1>
      <p class="title">Front-end Developer & Student</p>
    </div>
      <img src="assets/images/IMG_2988.jpeg" class="profile-image">
  </div>
  <div class="bio">
    <p><span>Short bio.</span> {{age}} y.o. student by day, creative wannabe by night, occasionally Front-end
      Developer from Italy. I got my bachelor's degree in Computer Science from the University of Molise,
      defending a thesis entitled "A methodology and an App for measuring blood pressure" in October 2021.
      Afterwards I pursued my MSc as a Double Masters Degree in Systems Software Security
      (@ <a href="https://www2.unimol.it/">UNIMOL</a>) and Software and Data engineering
      (@ <a href="https://www.usi.ch/en">USI</a>), defending a thesis entitled
      "RePlay: Replicating Gameplay through Video Analysis and On-Screen Controls" in July 2023.
      <br> <br>
      Passionate gamer with an addiction to music and clean UIs, I always try to keep up with the latest
      trends and seeks to make new adventures (both IRL and online) and improve my skill set. My technical skills are
      mostly focused on Front-end development, but I also have an interest in Machine Learning and Cybersecurity. I
      focus on typescript and its frameworks, but I am conformable working with C, Java, and Python as well.
    </p>
  </div>
</div>
