<div id="body">
  <div id="header">
    <div class="text-wrapper">
      <h1 class="name">Stefano Campanella</h1>
      <p class="title">Front-end Developer & Student</p>
    </div>
      <img src="assets/images/IMG_2988.jpeg" class="profile-image">
  </div>
  <div class="bio">
    <p><span>Kinda short bio.</span> {{age}} y.o. student by day, creative wannabe by night, occasionally Front-end
      Developer from Italy. Received his bachelor's degree in Computer Science from the University of Molise,
      defending a thesis entitled "A methodology and an App for measuring blood pressure" in 2021.
      Now pursuing a Double Masters Degree in Systems Software Security (@ <a href="https://www2.unimol.it/">UNIMOL</a>)
      and Software and Data engineering (@ <a href="https://www.usi.ch/en">USI</a>).
      Currently focused on concluding his studies but open to work if the job fits the schedule. <br> <br>
      Passionate gamer with an addiction to music and clean UIs, he always tries to keep up with the latest
      trends and seeks to make new adventures (both IRL and online) and improve his skills. His technical skills are
      mostly focused on Front-end development, but he is also interested in Machine Learning and Cybersecurity. He
      focuses on typescript and its frameworks, but he is conformable working with C, Java, and Python as well.
    </p>
  </div>
</div>
