<div id="body">
  <div id="content">
    <paragraph-title content="Degrees"></paragraph-title>
    <dotted-list-element *ngFor="let degree of degrees" [element]="degree"></dotted-list-element>
    <br><br>
    <paragraph-title content="Defended Theses"></paragraph-title>
    <dotted-list-element *ngFor="let thesis of theses" [element]="thesis"></dotted-list-element>
    <br><br>
    <paragraph-title content="Educational Projects"></paragraph-title>
    <dotted-list-element *ngFor="let project of projects" [element]="project"></dotted-list-element>
    <br><br>
  </div>
</div>
