#cursor {
  background-color: black;
  border-radius: 5px;

  height: 25px;
  width: 25px;

  display: block;
  position: absolute;
  top: 0;
  left: 0;

  filter: invert(1);
  mix-blend-mode: difference;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;

  .bar {
    width: 85%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-bottom: 2px solid black;
  }

  p {
    color: #6C757D;
    padding: 10px;
  }

  p:hover {
    border: 1px solid #6C757D;
    border-radius: 5px;
    padding: 9px;
  }

  .selected {
    color: #F8F9FA;
    border-radius: 5px;
    background: #1D1F20;
    padding: 10px;
  }
}
