<div class="body">
  <div class="bar">
    <span class="tab" (click)="selectTab(tabs.about)">
      <p [ngClass]="{'selected': tabsStatus[0]}">ABOUT</p>
    </span>
    <span class="tab" (click)="selectTab(tabs.resume)">
      <p [ngClass]="{'selected': tabsStatus[1]}">RESUME</p>
    </span>
    <span class="tab" (click)="selectTab(tabs.education)">
      <p [ngClass]="{'selected': tabsStatus[2]}">EDUCATION</p>
    </span>
    <span class="tab" (click)="selectTab(tabs.contacts)">
      <p [ngClass]="{'selected': tabsStatus[3]}">CONTACTS</p>
    </span>
  </div>
</div>
<div id="cursor"></div>
<router-outlet></router-outlet>
