<div id="body">
  <div id="content">
    <paragraph-title content="Working Experience"></paragraph-title>
    <dotted-list-element *ngFor="let work of workingExperience" [element]="work"></dotted-list-element>
    <br><br>
    <paragraph-title content="Teaching Experience"></paragraph-title>
    <dotted-list-element *ngFor="let teach of teachingExperience" [element]="teach"></dotted-list-element>
    <br><br>
    <paragraph-title content="Educational Projects"></paragraph-title>
    <dotted-list-element *ngFor="let project of projects" [element]="project"></dotted-list-element>
    <br><br>
  </div>
</div>
