@import "../dotted-list-element/dotted-list-element.component.scss";

ion-icon {
  font-size: 1.5em !important;
  padding-right: 0.5em;
}

.link {
  font-size: 0.8em !important;
}

@media (max-width: 440px) {
  .link {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 370px) {
  .description {
    font-size: 0.6rem !important;
  }
}
