.wrapper {
  border-left: 2px solid #1D1F20;
  width: fit-content;
  display: flex;

  p {
    padding: 0 50px 0 50px; // top right bottom left
  }
}

.wrapper:before {
  content:'';
  margin-top: 1em;
  margin-left: -0.6em;
  width: 1em;
  height: 1em;
  border-radius: 0.3em;
  background-color:#1D1F20;
}

@media (max-width: 375px) {
  .wrapper:before {
    content:'';
    margin-top: 1em;
    margin-left: -0.6em;
    width: 1.2em;
    height: 1em;
    border-radius: 0.3em;
    background-color:#1D1F20;
  }
}

@media (max-width: 320px) {
  .wrapper:before {
    content:'';
    margin-top: 1em;
    margin-left: -0.6em;
    width: 1.5em;
    height: 1em;
    border-radius: 0.3em;
    background-color:#1D1F20;
  }
}
