/* You can add global styles to this file, and also import other style files */

$custom-white: #F8F9FA;
$custom-black: #1D1F20;
$custom-bg-grey: #E5E5E5;
$custom-text-grey: #6C757D;

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('assets/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  cursor: none;
  font-family: 'Hubot Sans', sans-serif;
  height: 100% !important;
  background-color: #F8F9FA !important;
}

body *, body button {
  cursor: none !important;
}
